.about_img{
  position: relative;
  overflow: hidden;
  &__img{
    width: 1920px;
    height: 100vh;
  }
}

.about_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1{
    font-family: 'Poppins', sans-serif;
    font-size: 96px;
    font-weight: 600;
    color: #fff;
  }

  h2{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    color: #fff;
    margin-bottom: 30px;
  }

  button{
    background: transparent;
    border: #00FF47 1px solid;
    color: #fff;
    border-radius: 15px;
    width: 267px;
    height: 59px;
    font-weight: bolder;
    cursor: pointer;
  }
}

.rotate{
  margin-top: 155px;
  transform: rotate(180deg) translateY(-4px);
}
