.tour-details {
  &__main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    @media (max-width: 768px) {
      align-items: center;
    }

    @media (max-width: 450px) {
      align-items: center;
      height: auto;
      margin-bottom: 120px;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      object-fit: cover;

      @media (max-width: 768px) {
        width: 100%;
        height: 700px;
      }

      @media (max-width: 450px) {
        width: 100%;
        height: 500px;
      }
    }


    &-text {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #FFFFFF;
      width: 489px;
    }

    &-btn {
      width: 267px;
      height: 59px;
      border-radius: 15px;
      border: 1px solid #00FF47;
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-weight: 600;
      color: #FFFFFF;
      background-color: transparent;
    }

    &-title,
    &-text,
    &-btn {
      z-index: 1;
      border-radius: 10px;
      padding: 0 10px;
      margin-left: 92px;

      @media (max-width: 768px) {
        padding: 0 30px;
        width: 100%;
        margin-left: 0;
      }

      @media (max-width: 450px) {
        font-size: 20px;
        padding: 10px;
        width: 100%;
        margin-left: 0;
      }
    }

    &-title {
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      font-weight: 600;
      line-height: 60px;
      text-align: left;
      color: #FFFFFF;
      width: 489px;

      @media (max-width: 450px) {
        margin-top: 90px;
        font-size: 30px;
        margin-left: 0;
        padding: 10px;
        width: 100%;
      }
    }

  }

  &__info {
    width: 100%;
    max-height: 700px;
    height: 100%;
    margin: 100px;
    padding: 50px 35px;
    border-radius: 25px;
    background: #00AF59;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-height: 1460px !important;
    }

    &-img {
      max-width: 468px;
      width: 100%;
      height: 600px;
      border-radius: 30px;

      @media (max-width: 768px) {
        height: auto;
      }
    }

    &_box {
      max-width: 790px;
      width: 100%;
      display: flex;
      flex-direction: column;
      &-title {
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        font-size: 64px;
        line-height: 96px;
        font-weight: 400;
        color: #FFFFFF;
        position: relative;
        max-width: 570px;
        height: 192px;

        @media (max-width: 768px) {
          font-size: 32px;
          line-height: 45px;
          height: auto;
          margin-bottom: 10px;
        }

        span {
          color: #EFB809;
        }
      }


      &-text {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #FFFFFF;

        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;

    &_img {
      width: 475.19px;
      height: 396.48px;
    }
  }

  &__plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      padding: 0 10px;
    }

    &-title {
      font-weight: 400;
      color: #EFB809;
      position: relative;
      width: 237px;
      font-size: 45px;
      margin-top: 115px;
      margin-bottom: 52px;
      transform: translateX(calc(-55%), -50%);

      &:before {
        content: "тура";
        color: #000;
        position: absolute;
        top: 0;
        left: 50%;
      }

      @media (max-width: 768px) {
        margin-bottom: 30px;
        margin-top: 40px;
        font-size: 35px;
        width: 180px;

        &:before {
          content: "тура";
          color: #000;
          position: absolute;
          top: 0;
          left: 52%;
        }
      }
    }

    &-list {
      max-width: 917.08px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      list-style: none;

      .tour-details__plan-item {
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-size: 20.1px;
        font-weight: 400;
        line-height: 31.15px;

        .tour-details__plan-item-label {
          text-align: left;
          font-family: 'Inter', sans-serif;
          font-size: 20.1px;
          font-weight: 600;
          line-height: 31.15px;
        }
      }
    }

  }

  &__additional-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 917px;
    width: 100%;

    &_title {
      color: #000;
      font-size: 45px;
      margin-top: 115px;
      position: relative;
      text-align: center;
      left: 50%;
      transform: translateX(-88%);

      &:after {
        content: "информация";
        color: #EFB809;
        position: absolute;
        top: 0;
        left: 103%;
      }

      @media (max-width: 768px) {
        margin-top: 50px;
        width: 500px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 35px;


        &:after {
          content: "информация";
          color: #EFB809;
          position: absolute;
          top: 50px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    &_text {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 28.2px;
      margin-top: 75px;
      width: 390px;
      margin-bottom: 132px;

        @media (max-width: 768px) {
          font-size: 18px;
          padding: 0 10px;
          margin-bottom: 52px;
        }
      }
  }

  &__important-info {
    margin-bottom: 192px;

    @media (max-width: 768px) {
      margin-bottom: 70px;
    }

    &_title {
      color: #EFB809;
      font-size: 45px;
      //margin-top: 115px;
      font-weight: 400;
      position: relative;
      left: 50%;
      transform: translateX(-100%);
      text-align: right;
      margin-bottom: 30px;

      @media (max-width: 768px) {
        margin-bottom: 70px;
        font-size: 35px;
      }

      &:after {
        content: "знать";
        color: #000;
        position: absolute;
        top: 0;
        left: 102%;
      }
    }
  }
}

.footerBg{
  width: 100%;
  position: relative;
  transform: rotateX(180deg);

  &_absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #09E97B;
    max-width: 2000px;
    width: 100%;
    height: 400px;
    z-index: -1;
  }
}
