.video-background_phone {
  position: relative;
  background-color: #09E97B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

  .player-container_phone {
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); // Добавление тени
    z-index: 4;
  }

  .frame_phone {
    position: absolute;
    left: 0;
    bottom: -152px;
    width: 100%;
    z-index: 2;
  }

  .frameRotate_phone {
    position: absolute;
    left: 0;
    top: -182px;
    width: 100%;
    z-index: 2;
    transform: rotate(180deg); // Поворот для второго фона
  }

}
