.video-background {
  position: relative;
  width: 2000px;
  height: 800px;
  background-color: #09E97B;
  display: flex;
  justify-content: center;
  align-items: center;

  .player-container {
    position: absolute;
    width: 1000px;
    height: 575px;
    border-radius: 50px;
    overflow: hidden;
  }

  .frame, .frameRotate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .frameRotate {
    transform: rotate(180deg); // Поворот для второго фона
  }
}
