#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #09E97B;
  display: flex;
  justify-content: space-around;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  //object-fit: cover;
}

.card {

  img{
    width: 80px;
    height: 80px;
  }

  .stars{
    width: 120px;
    height: 25px;
  }

  h2{
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
  }

  p{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
  }

  button{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #DFDFDFB2;
    border: none;
    background: transparent;
  }
}

.swiper-button-next{
  width: 80px;
  height: 80px;
  border: 5px solid #006400;
  border-radius: 50%;

  &:after{
    color: #006400;
    font-size: 30px;
  }
}


.swiper-button-prev{
  width: 80px;
  height: 80px;
  border: 5px solid #006400;
  border-radius: 50%;

  &:after{
    color: #006400;
    font-size: 30px;
  }
}

