.tours_title{
  margin-top: 168px;
  padding-bottom: 42px;
  text-align: center;

  h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;


  }

  &::after{
    content: "";
    display: block;
    width: 170px;
    border-bottom: 4px solid #EFB809;
    margin: 0 auto 0 auto;
  }
}

.tours_cities{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 45px;

  button{
    font-family: "Inter", sans-serif;
    width: 180.6px;
    height: 50.79px;
    padding: 15.21px 36.48px 15.57px 36.12px;
    border-radius: 89.37px;
    border: 0.82px solid #00AF59;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.9s, transform 0.8s, box-shadow 0.4s;

    &:active {
      background-color: #00AF59;
      color: #fff;
      transition: background-color 0.1s;
      transform: translateY(2px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }
  }

  .btn{
    font-family: "Inter", sans-serif;
    width: 200.6px;
    height: 50.79px;
    padding: 15.21px 36.48px 15.57px 36.12px;
    border-radius: 89.37px;
    border: 0.82px solid #00AF59;
    background-color: #00b057;
    cursor: pointer;
    transition: background-color 0.9s, transform 0.8s, box-shadow 0.4s;

    &:active {
      background-color: #FFFFFF;
      color: #008d43;
      transition: background-color 0.1s;
      transform: translateY(2px);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.tour_cards{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.tour__cards_int{
  height: 890px;
  width: 100%;

  &-box{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    background: #09E97B;
    padding: 32px;
  }
}


.tours__title_int{
  margin-bottom: -120px;
  margin-top: 70px;
  text-align: center;

  h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  &::after{
    content: "";
    display: block;
    width: 170px;
    border-bottom: 4px solid #EFB809;
    margin: 0 auto 0 auto;
  }
}

.rotate{
  margin-top: 50px;
  transform: rotate(180deg) translateY(-4px);
}

@media (max-width: 768px) {
  // Adjust styles for smaller screens here
  .tours_title {
    margin-top: 120px;
    padding-bottom: 20px;
    text-align: center;

    h2 {
      font-size: 30px;
    }

    &::after {
      width: 100px;
    }
  }

  .tours_cities {
    flex-direction: column;

    button {
      width: auto;
      margin-bottom: 10px;
    }
  }

  .tour_cards {
  }

  .tour__cards_int {
    //height: auto;
    width: 100%;
    margin-bottom: 1100px;
  }

  .tour__cards_int-box {
    padding: 16px;
    width: 100%;
  }

  .tours__title_int {
    margin-bottom: -60px;
    margin-top: 40px;

    h2 {
      font-size: 30px;
    }

    &::after {
      width: 100px;
    }
  }

  .rotate {
    margin-top: 30px;
  }
}

